* {
   margin: 2px;
   box-sizing: border-box;
}



body {
    background-image: linear-gradient(43deg, #7f91ee 0%, #ee7fe6 46%, #FFCC70 100%);
    /*min-height: 200vh; /*farge blandingen i midten*/
    height:1000px;
    background-color: #4158D0;


}


header {
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    font-family: "Courgette"; 
    display: grid;
    justify-items: center;
    align-items: center;
    
}

header, form, .footer{
  min-height: 20vh;
  display: block;
  justify-content: center;
  align-items: center;

}



form input, form button {
    color: rgb(88, 167, 88);
    cursor: pointer;
    font-size: 1.2rem;
}

input {
    display: block;
   
}

.midtstill, .container {
    display: grid;
    justify-items: center;
    align-items: center;
    
}


.btnHome {
    
    font-size: large;

}

.arrowBtn {

    font-size:30px;
    color: black;
    cursor: pointer;
    padding-left: 15px;

}

.share-btn {
  display: inline-block;
  color: black;
  border: none;
  outline: none;
  text-align: center;
  font-size: 30px;
  
}

.share-btn:focus,
.share-btn:hover {
  text-decoration: none;
  opacity: 0.8;
}

.share-btn:active {
  color: #e2e2e2;
}

  
  /* Create two equal columns that floats next to each other */
  .div {
    border-style: dotted;
    color:rgb(0, 0, 0);
    float: left;
    width: 100%;
    
    overflow: scroll;
    /*height: 300px;  Should be removed. Only for demonstration */
  }

 

  .styleListDiv {
    border-style: solid;
    justify-content: space-evenly;
    grid-template-columns:auto;
    display: inline-block;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    
    
  }

h2 {
    color:rgb(54, 54, 54);
    justify-items: center;
    align-items: center;
    font-size: large;
}

p {
    color: rgb(0, 0, 0);
    justify-items: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
  
}


        body {
            background-color: rgb(21, 211, 211);
        }
    
        

        #container {
            
            height: 100%;
            display: grid;
            grid-template-columns: 300px 300px 300px;
            grid-template-rows: auto auto auto;
            
            /*grid-template-areas: "hd hd hd"
                                 "mn ct ct"
                                 "ft ft ft"; */
        }

/* ------------- DIFFERENT SCREENSIZES----------------*/ 
        /* MOBILE OVERFLATER */ 
        @media only screen and (max-width: 815px) {
        
            #container {
            
                height: 100%;
                display: grid;
                grid-template-columns: 300px;
                grid-template-rows: auto auto auto;
                
                /*grid-template-areas: "hd hd hd"
                                     "mn ct ct"
                                     "ft ft ft"; */
            
        }
       
    }

     /* MOBILE OVERFLATER 
     @media only screen and (max-width: 1100px) {
        
        .styleListDiv {
            border-style: solid;
            justify-content: center;
            justify-items: center;
            padding: 5px;
            margin: 5px;
            border-radius: 10px;
         
            height: fit-content;
            
            
          }
          #container {
            display: grid;
            height: 100%;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            margin-left: -50px;
            margin-top: -50px;
            
    }
     */
   


/* --------------- BUTTONS ---------------- */
  .createList {
    background-color: #ffffff; /* Green */
    border-style: dotted;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    border:rgb(0, 0, 0);
  }

  .createTaskButton {
    background-color: rgb(255, 255, 255);
    color: rgb(5, 187, 5);
    font-size: large;
    cursor: pointer;
    border: none;
    margin-bottom: 30px;
    justify-content: right;
    
    
  }

  .deleteListButton {

    background-color: rgb(255, 255, 255);
    color: red;
    font-size: large;
    cursor: pointer;
    border: none; 
    margin-bottom: 30px;
    
    
  }

  .checkTaskButton {
    background-color: rgb(255, 255, 255);
    color: rgb(5, 187, 5);
    font-size: large;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
    justify-self: right;


  }

  .fas fa-dot-circle {
      size: small;
  }
 /* ----------------- Divs inside tasklists --------------------------*/
  .taskDiv {
      border-bottom: solid 1px black;
      display: grid;
      grid-template-columns: 2fr 1fr;

  }

.arrowBtn {
    font-size: large;
    color: black;
}

