* {
  margin: 2px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#888ea8 0%, #ee7fe6 46%, #888ea8 100%);
  /*min-height: 200vh; /*farge blandingen i midten*/
  height: 1000px;
  background-color: #4158d0;
}

header {
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  font-family: "Courgette";
  display: grid;
  justify-items: center;
  align-items: center;
}

.midtstill,
.container {
  display: grid;
  justify-items: center;
  align-items: center;
}

.arrowBtn {
  font-size: 20px;
  color: black;
  cursor: pointer;
  padding-left: 15px;
}


.styleListDiv {
  border-style: solid;
  justify-content: space-evenly;
  grid-template-columns: auto;
  display: inline-block;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: rgb(255, 255, 255);
}

h2 {
  color: rgb(54, 54, 54);
  justify-items: center;
  align-items: center;
  font-size: large;
}

p {
  color: rgb(0, 0, 0);
  justify-items: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}


.tasklistContainer {
  padding-bottom: 50px;
  height: 100%;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto auto auto;

  /*grid-template-areas: "hd hd hd"
                                 "mn ct ct"
                                 "ft ft ft"; */
}

/* ------------- DIFFERENT SCREENSIZES----------------*/
/* MOBILE OVERFLATER */
@media only screen and (max-width: 815px) {
  .tasklistContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: auto auto auto;

    /*grid-template-areas: "hd hd hd"
                                     "mn ct ct"
                                     "ft ft ft"; */
  }
}

/* --------------- BUTTONS ---------------- */
.createList {
  background-color: #ffffff; 
  border-radius: 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  font-style: italic;
  border: rgb(0, 0, 0);
}
.buttonClassDelete {
    border-style: dotted;
    border-radius: 10px;
    color: rgb(245, 94, 94);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    border: rgb(0, 0, 0);
  }
.buttonClass {
    border-style: dotted;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    border: rgb(0, 0, 0);
  }
.settingButtons {
  border-style: dotted;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-style: italic;
  border: rgb(0, 0, 0);
}

.createTaskButton {
    border-style: dotted;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    border: rgb(0, 0, 0);
  }
.shareListButton {
    border-style: dotted;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    border: rgb(0, 0, 0);
  }

.checkTaskButton {
  background-color: rgb(255, 255, 255);
  color: rgb(5, 187, 5);
  font-size: large;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
  justify-self: right;
}

.fas fa-dot-circle {
  size: small;
}
/* ----------------- Divs inside tasklists --------------------------*/
.taskDiv {
  border-bottom: solid 1px black;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#placeHere {
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 30px;
  height: 100%;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: auto auto auto;
}

span {
  width: 50px;
  height: 50px;
  background: black;
}

.loginPage {
  background-image: linear-gradient(#888ea8 0%, #ee7fe6 46%, #888ea8 100%);
  /*min-height: 200vh; /*farge blandingen i midten*/
  height: 928px;
  background-color: #4158d0;
}

.shareInput {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 10px;
}